<section>
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h1 class="text-secondary"> Ingrese los datos de su producto</h1>
        </div>
        <div>
            <a class="btn btn-info" href="/productos" role="button">Ver productos cargados</a>
        </div>
    </div>
    <form action="/productos" method="post">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" name="description" required>
        </div>
        <div class="form-group">
            <label>Categoría</label>
            <input type="text" class="form-control" name="category" required>
        </div>
        <div class="form-group">
            <label>Precio</label>
            <input type="text" class="form-control" name="price" required>
        </div>
        <div class="form-group">
            <label>Foto URL</label>
            <input type="text" class="form-control" name="photourl" required>
        </div>
        <input type="submit" class="btn btn-success">
    </form>
</section>