<div class="alert alert-success" role="alert">
    Hasta luego. La página se redireccionará en 5 segundos o haga click <a href="/login" class="alert-link">aquí</a>.
</div>
<script>
    setTimeout(function () {
        window.location = "/login";
    }, 5000)
</script>