<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header.ejs') %>
</head>

<body>
    <div class="container mt-5 bg-light rounded">
        <%- include('../partials/sessionHeader.ejs') %>
        <%- include('../partials/addProductForm.ejs') %>
    </div>
    <%- include('../partials/bootstrapCDN.ejs') %>
</body>

</html>