<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header.ejs') %>
</head>

<body>
    <div class="container mt-5 bg-light rounded">
        <section class="mt-5">
            <h1 class="text-danger">¡Acceso denegado!</h1>
            <div>
                <a href="/login" class="btn btn-success">Back to Login</a>
            </div>
        </section>
    </div>
    <%- include('../partials/bootstrapCDN.ejs') %>
</body>

</html>