<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header.ejs') %>
</head>

<body>

    <div class="container mt-5 bg-light rounded">
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="text-success">Bienvenido </h1>
        </div>
        <%- include('../partials/loginForm.ejs') %>
    </div>
    <%- include('../partials/bootstrapCDN.ejs') %>
</body>

</html>